<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Social Sharing
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button expand="full" (click)="sharedTwitter()">Shared Twitter</ion-button>
    <ion-button expand="full" (click)="sharedEmail()">Shared Email</ion-button>
    <ion-button expand="full" (click)="sharedFacebook()">sharedFacebook</ion-button>
    <ion-button expand="full" (click)="sharedWhatapp()">sharedWhatapp</ion-button>
</ion-content>